.learn-title-nav{
    line-height:64px;
}

.learn-title-nav a{
    color: #747474;
}

.learn-coures-banner-ios{
    height:100px;
    background: url("../images/learnCourseVideoTop.jpg");
}

.learn-title-des .learn-title{
    font-size:24px;
    color: #fff;
    padding:13px 0 0 26px;
}

.learn-title-des .learn-des{
    font-size:14px;
    color: #929191;
    padding:6px 26px 0;
}